{{#if warning_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{{warning_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{{/if}}

{{#if errorMsg}}
  {{#each errorMsg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{{this.warning_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
  {{/each}}
{{/if}}