<div class="count-down d-flex justify-content-center align-items-center">
  <div class="time d-flex justify-content-center">
    <div id="hours"></div>
    <p class="separate">:</p>
    <div id="minutes"></div>
    <p class="separate">:</p>
    <div id="seconds"></div>
  </div>
</div>

