<div class="card" style="border-radius: 15px;">
  <div class="card-body">
    {{!-- title --}}
    <h5 class="card-title"><img src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png" class="img-fluid img-thumbnail" alt="" style="height: 50px;">  Create new task</h5>
    {{!-- create task --}} 
    <form action="/task" method="post">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New task</label>
        <input type="text" class="form-control" id="newTask" name="newTask" placeholder="new task">
      </div>
      <div class="button-group d-flex justify-content-between">
        {{!-- create --}}
        <button type="submit" class="card-link btn btn-success">Create</button>
        {{!-- edit --}}
        <a href="javascript:history.back()" class="card-link btn btn-secondary">Back</a>
      </div>
    </form>
    
    
  </div>
</div>